@page
@model HRManager.Pages.Empleados.DeleteModel
@{
    ViewData["Title"] = "Eliminar Empleado";
}

<h1>Eliminar Empleado</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.FechaContratacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.FechaContratacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Cargo.TituloCargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Departamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Departamento.NombreDepartamento)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Empleado.IdEmpleado" />
        <div class="mt-3">
            <input type="submit" value="Eliminar" class="btn btn-danger me-2" />
            <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
